<div style="display:inline-block; width:40%">
  <%= render users_profile_path %>
</div>

<div style="display:inline-block">
  <div>
    <h2>Upcoming Events</h2>
    <%= render events_upcoming_path %>
  </div>
  <br/>
  <div>
    <h2>Past Events</h2>
        <%= render events_past_path %>
  </div>
</div>

