<h1>Events</h1>
<table>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= link_to 'Show', events_path(event.id) %></td>
        </tr>
    <% end %>
</table>